

<div class="row">
  <div class="large-8 columns large-centered">
    <a href="/">&lt; Back</a>
    <h3><%= @contest.title %></h3>

    <div class="showcase row">

      <div class="left-side large-6 columns">
        <%= image_tag @contest.left %>
        <h4><span class="vote-count">0</span> Vote(s)</h4>
      </div>

      <div class="right-side large-6 columns">
        <%= image_tag @contest.right %>
        <h4><span class="vote-count">0</span> Vote(s)</h4>
      </div>

    </div>

    <div class="comment-wall"></div>

    <div class="panel">
      <h3>Cast Your Vote!</h3>
      <form class="new-comment">
        <label>Username</label>
        <input name="username" type="text" />

        <label>Vote</label>
        <select name="side">
          <option value="left">Left Side</option>
          <option value="right">Right Side</option>
        </select>

        <label>Comment</label>
        <textarea name="comment"></textarea>

        <input type="submit" value="Vote and Comment!" />
      </form>
    </div>
  </div>
</div>



<div id="templates">
  <script type="text/template" class="comment">
    <div class="row comment">
      <div class="small-3 large-2 columns"><img src="http://placehold.it/50x50&amp;text=[img]"></div>
      <div class="small-9 large-10 columns">
        <b>{ username } (chose {side}):</b>
        <p>{comment}</p>
      </div>
     </div>
  </script>
</div>


<script type="text/javascript">
  // ADD CONTEST URL HERE
</script>

<% content_for :javascript do %>
<script type="text/javascript">

  var initialComments = [
    { username: 'ROBOT A', side: 'left', comment: 'EXCELLENT' },
    { username: 'ROBOT B', side: 'right', comment: 'YES' }
  ];

  for (var i = 0; i < initialComments.length; i += 1) {
    comments.create(initialComments[i]);
  }

</script>
<% end %>
